<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <div class="inner">

        <a th:href="@{/}" class="title">HappyShop</a>

        <ul class="menu">
            <li sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/register}">회원가입</a></li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post"><input type="submit" value="로그아웃"></form>
            </li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/admin}">관리자</a></li>
            <li><a th:href="@{/}">HOME</a></li>
        </ul>
    </div>
</header>
</html>