<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <head th:replace="layout/header::userHead"></head>
    <style>
        .phoneNumber input {
            width: 80px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
    <div class="text-center mt-5">
        <h1>회원가입</h1>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-lg-6">
            <form th:action="@{/register}" method="post" th:object="${userDto}">

                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="text" class="form-control" name="email" id="email" th:field="*{email}"
                           th:errorclass="field-error" placeholder="이메일을 입력하세요." required>
                    <div class="field-error" th:errors="*{email}">비밀번호 길이 오류 메시지</div>

                </div>

                <div class="mb-3">
                    <div th:if="${errors?.containsKey('passwordLengthGte8')}">
                        <p class="field-error" th:text="${errors['passwordLengthGte8']}">비밀번호 길이 오류 메시지</p>
                    </div>
                    <div th:if="${errors?.containsKey('passwordSpecialPattern')}">
                        <p class="field-error" th:text="${errors['passwordSpecialPattern']}">비밀번호 특수기호 오류 메시지</p>
                    </div>
                    <div th:if="${errors?.containsKey('passwordContinuousPattern')}">
                        <p class="field-error" th:text="${errors['passwordContinuousPattern']}">비밀번호 연속된숫자 오류 메시지</p>
                    </div>
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">이름</label>
                    <input type="text" class="form-control" name="username" id="username" required>
                </div>

                <div class="mb-3">
                    <label for="phoneNumber">전화번호</label>
                    <div class="phoneNumber" id="phoneNumber">
                        <input type="text" name="phoneNumber1" id="phoneNumber1" maxlength="3" required>
                        <span class="mx-1">-</span>
                        <input type="text" name="phoneNumber2" id="phoneNumber2" maxlength="4" required>
                        <span class="mx-1">-</span>
                        <input type="text" name="phoneNumber3" id="phoneNumber3" maxlength="4" required>
                    </div>
                    <div class="field-error" th:errors="*{phoneNumber2}">핸드폰 번호형식 오류 메시지</div>
                    <div class="field-error" th:errors="*{phoneNumber1}">없는 지역번호 오류 메시지</div>
                </div>

                <div class="mb-3" id="address">
                    <div>
                        <label for="address">주소</label>
                    </div>
                    <div class="mb-3">
                        <input class="col-12 mb-3" type="text" name="juso" id="juso" maxlength="100"
                               placeholder="도로명주소" required>
                        <input class="col-12 mb-3" type="text" name="jusoDetail" id="jusoDetail" maxlength="100"
                               placeholder="상세주소" required>
                        <input class="col-12 mb-3" type="text" name="zipcode" id="zipcode" maxlength="10"
                               placeholder="우편번호" required>
                    </div>
                </div>

                <input class="btn btn-primary" type="submit" value="회원가입">

            </form>
        </div>
    </div>

    <div th:replace="layout/footer::footer"></div>
</body>
</html>