h1 {
    color: green;
}
form.login-form {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
div.login-form {
    margin-bottom: 20px;
}
div.login-form:last-child {
    margin-bottom: 0px;
}