<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header::userHead"></head>
<body>
    <div th:replace="layout/top::header"></div>
    <p>happyshop 쇼핑몰 입니다.</p>

    <div sec:authorize="isAnonymous()" class="anonymous">
        <h2>isAnonymous()</h2>
        <a th:href="@{register}">회원가입</a><br><br>
        <a th:href="@{login}">로그인</a>
    </div>

    <div sec:authorize="isAuthenticated()" class="authenticated">
        <h2>isAuthenticated()</h2>
        <p th:text="|인증된 사용자 ${member.username} 님|"></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="로그아웃">
        </form>
    </div>

    <div th:replace="layout/footer::footer"></div>
</body>
</html>