<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <head th:replace="layout/header::userHead"></head>
    <title>로그인</title>
</head>
<body>
    <h1 class="login-form">로그인 페이지</h1>
    <h2 th:if="${param.status}" th:text="|${param.username} 님 회원가입 성공! 로그인 해주세요😊|"></h2>
    <form th:action="@{/login}" method="post" class="login-form">
        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
        <div>

            <p>아이디와 비밀번호를 입력해주세요.</p>
        </div>
        <div class="login-form">
            <label for="username">Enter your name: </label>
            <input type="text" name="username" id="username" placeholder="아이디" required>
        </div>
        <div class="login-form">
            <label for="password">Enter your password: </label>
            <input type="password" name="password" id="password" placeholder="비밀번호" required>
        </div>
        <div class="login-form">
            <input type="submit" value="로그인">
        </div>
    </form>
</body>
</html>